{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <script type="application/javascript">
    window.addEventListener("DOMContentLoaded", (event) => {
        $('#id_titre').focus();
    });
    </script>
    <div class="title">
        <h2 class="text-center">Demande de moyens</h2>
        <h3 class="text-center">Opération COVID-19 | Délégation Territoriale du Rhône</h3>
    </div>
    <div class="col-md-6 offset-md-3">
        {% crispy form %}
    </div>

    <script>
        $(function () {
            $('.datetime-input').datetimepicker({
                format:'d/m/Y H:i',
                lang: 'fr',
            });
        });
    </script>
{% endblock %}
