{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edition du retour de mission{% endblock %}

{% block content %}
    <div class="title">
        <h2 class="text-center">Retour de mission</h2>
    </div>
    <div class="col-md-6 offset-md-3">
        {% crispy form %}
    </div>
{% endblock %}
