.color_cree {
    color: orange;
}

.color_valide {
    color: purple;
}

.color_provisionne {
    color: blue;
}

.color_cloture {
    color: green;
}

.color_refuse {
    color: red;
}

.color_termine {
    color: darkslategray;
}

/* Titre de nouvelle demande */
.title {
    padding: 25px 0;
}

/* Form nouvelle réponse */
#demande-form, #retour-form {
    margin-bottom: 200px;
}

#retour-form fieldset legend {
    margin-top: 30px;
}
.elem {
    border-top: #000 solid thin;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #6a6c6d;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}
