<!-- Effectifs -->

<div class="row mt-4 mb-2">
    <input type="checkbox" id="effectifs" name="effectifs" value="true" disabled=""
           {% if demande.reponse.effectifs_provisionnes %}checked{% endif %}>
    <label for="effectifs" class="col-2">Effectifs</label>
</div>

<div class="row">
    <textarea class="col border" readonly>{{ demande.reponse.effectifs }}</textarea>
    {% if perms.CoronApp.can_assign_effectifs and demande.etat == 'valide' or perms.CoronApp.can_assign_effectifs and demande.etat == 'provisionne' %}
        {% if not demande.reponse.effectifs_provisionnes or perms.CoronApp.is_chef %}
            <button type="button" class="btn btn-primary col-2 m-4"
                    onclick="window.location='{% url 'assign' pk=demande.id t='effectif' %}'">
                Assigner
                effectifs
            </button>
        {% endif %}
    {% endif %}
</div>
