<!-- Logistique -->

<div class="row mt-4 mb-2">
    <input type="checkbox" id="logistique" name="logistique" disabled=""
           {% if demande.reponse.logistique_provisionnes %}checked{% endif %}>
    <label for="logistique" class="col-2">Logistique</label>
</div>
<div class="row">
    <textarea class="col border" readonly>{{ demande.reponse.logistique }}</textarea>
    {% if perms.CoronApp.can_assign_logistique and demande.etat == 'valide' or perms.CoronApp.can_assign_logistique and demande.etat == 'provisionne' %}
        {% if not demande.reponse.logistique_provisionnes or perms.CoronApp.is_chef %}
            <button type="button" class="btn btn-primary col-2 m-4"
                    onclick="window.location='{% url 'assign' pk=demande.id t='logistique' %}'">
                Assigner
                matos
            </button>
        {% endif %}
    {% endif %}
</div>
