<!-- Subsistances -->

<div class="row mt-4 mb-2">
    <input type="checkbox" id="subsistances" name="subsistances" disabled=""
           {% if demande.reponse.subsistances_provisionnes %}checked{% endif %}>
    <label for="subsistances" class="col-2">Subsistances</label>
</div>

<div class="row">
    <textarea class="col border" readonly>{{ demande.reponse.subsistances }}</textarea>
    {% if perms.CoronApp.can_assign_subsistances and demande.etat == 'valide' or perms.CoronApp.can_assign_subsistances and demande.etat == 'provisionne' %}
        {% if not demande.reponse.subsistances_provisionnes or perms.CoronApp.is_chef %}
            <button type="button" class="btn btn-primary col-2 m-4"
                    onclick="window.location='{% url 'assign' pk=demande.id t='subsistance' %}'">
                Assigner
                subsistances
            </button>
        {% endif %}
    {% endif %}
</div>
