<!-- Véhicules -->

<div class="row mt-4 mb-2">
    <input type="checkbox" id="vehicules" name="vehicules" disabled=""
           {% if demande.reponse.vehicules_provisionnes %}checked{% endif %}>
    <label for="vehicules" class="col-2">Vehicules</label>
</div>

<div class="row">
    <textarea class="col border" readonly>{{ demande.reponse.vehicules }}</textarea>
    {% if perms.CoronApp.can_assign_vehicules and demande.etat == 'valide' or perms.CoronApp.can_assign_vehicules and demande.etat == 'provisionne' %}
        {% if not demande.reponse.vehicules_provisionnes or perms.CoronApp.is_chef %}
            <button type="button" class="btn btn-primary col-2 m-4"
                    onclick="window.location='{% url 'assign' pk=demande.id t='vehicule' %}'">
                Assigner
                vehicules
            </button>
        {% endif %}
    {% endif %}
</div>
