{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link href="{% static "css/cover.css" %}" rel="stylesheet">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <main role="main" class="inner cover">
            <h1 class="cover-heading">GestApp</h1>
            <p class="lead">La GestApp a pour but de faciliter la gestion des activités de la Croix Rouge.
                Elle doit permettre de centraliser les demandes de mission ainsi que les affectations des bénévoles et
                du matériel.<br>

            </p>
            <div class="lead">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'demande-form' %}" class="btn btn-lg btn-secondary">Faire une demande</a>
                    <a href="{% url 'demandes' %}" class="btn btn-lg btn-primary" style="float: right">Gérer les
                        demandes</a>
                {% else %}
                    <a href="/accounts/login" class="btn btn-lg btn-primary" style="float: right">Se connecter</a>
                {% endif %}
            </div>
        </main>
        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Application pour la Croix-Rouge, par <a
                        href="https://gitlab.com/sia-insa-lyon">SIA INSA Lyon</a>. Version {{ version.major }}.{{ version.minor }}</p>
            </div>
        </footer>
    </div>
{% endblock %}
