<!--
    4) Assignations
-->

<div id="detail-assignations">
    <hr/>
    <h2 class="m-4"><b>Moyens octroyés</b></h2>

    {% include 'demande/detail/assignations/effectifs.html' %}
    {% include 'demande/detail/assignations/vehicules.html' %}
    {% include 'demande/detail/assignations/logistique.html' %}
    {% include 'demande/detail/assignations/subsistances.html' %}

    <!-- Commentaire -->
    <a class="row mt-4 mb-2">Commentaire</a>
    <div class="row">
        <textarea class="col border" readonly>{{ demande.reponse.commentaires }}</textarea>
        {% if perms.CoronApp.can_comment and demande.etat == 'valide' or perms.CoronApp.can_comment and demande.etat == 'provisionne' %}

            <button type="button" class="btn btn-primary col-2 m-4"
                    onclick="window.location='{% url 'assign' pk=demande.id t='comment' %}'">Editer
            </button>
        {% endif %}
    </div>

    <!-- Bouton de cloture -->
    {% if perms.CoronApp.can_cloture and demande.etat == 'provisionne' %}
        <script>
            function reload() {
                location.reload()
            }

            function cloturer() {
                $.ajax({
                    url: "{% url 'cloture' demande.id %}",
                    error: function (res) {
                        console.log(res);
                        $("#error").html("<strong>Erreur: </strong> " + res);
                        $("#error").show();
                        $("#validation").hide();
                    }
                });
                setTimeout(reload, 1000);
            }
        </script>
        <div class="text-center">
            <button type="button" class="btn btn-primary m-4" onclick="cloturer()">Cloturer la demande
            </button>
        </div>
    {% endif %}

    <hr/>
</div>
